/*
//--------------CARD COMPONENTS 
.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 10%, 0.1);
  padding:20px ;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
*/
/*------------------------------------------------------------------------------------------
//          HOW TO STYLE REACT COMPONENTS WITH CSS 
//---------------------------------------------------
// (not including external frameworks or processors)

//1 . EXTERNAL 
//2 . MODULES
//3 . INLINE 
*/
/*
.button{
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
*/

/*-------------------------------------------------------------------------------------------*/
/*
.student{
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);

}
.student {
  margin: 0;
}
*/

/*--------------------------------------------------------------------------------------------
// conditional rendering = allows you to control what gets rendered 
//                         in your application based on certain conditions 
//                         (show, hide, or change components)
*/
/*
.welcome-message{
  font-size: 2.5em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login-prompt{
  font-size: 2.5em;
  background-color: hsl(0, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
*/


/*------------------------------------------------------------------------------------*/
/*
.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: hsl(185, 100%, 50%);
}
.list-items li{
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
}
.list-items li:hover{
  color: hsl(0, 0%, 45%);
  cursor: pointer;
}
*/

/*----------------------------------------------------------------------------------------------------*/
/*
// React hook - Special function that allows functional components 
//              to use React features without writing class components (React v16.8)
//              (useState, useEffect, useContext, useReducer, useCallback, and more.....)

// useState - A React hook that allows the creation of a stateful variable
//            AND a setter function to update its value in the Virtual DOM.
//            [name, setName]
*/

/*
 .counter-container{
    text-align: center;
    font-family: Arial, sans-serif;
 }
 .count-display{
  font-size: 10.5em;
  margin-top: 0;
  margin-bottom: 30px;
 }
 .counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  color: red;
  margin: 0px 5px;
  background-color: rgb(171, 148, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
 }
 .counter-button:hover{
  background-color: rgb(130, 143, 255);
 }
*/

/*------------------------------------------------------------------------------------------------------------*/
/*----------COLOR PICKER-------------------------
body{
  font-family: Arial, sans-serif;
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
h1{
  margin: 50px;
  font-size: 5rem;
}
.color-display{
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}
.color-display p{
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}
input[type='color']{
  width: 75px;
  height: 50px;
  padding: none;
  border-radius: 10px;
  border: 3px solid hsl(0, 0%, 80%);
}
*/

/*--------------------------------------------------------------------------------------------------------------*/
/*
body{
  background-color: hsl(145, 55%, 61%);
}
.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(337, 89%, 51%);
}
.add-button:hover{
  background-color: hsl(337, 100%, 35%);
}
.delete-button{
  background-color: hsl(115, 89%, 55%);
}
.delete-button:hover{
  background-color: hsl(117, 90%, 45%);
}
.move-button{
  background-color: hsl(239, 89%, 81%);
}
.move-button:hover{
  background-color: hsl(239, 89%, 45%);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsl(0, 0%, 0%, 0.5);
}
ol{
  padding: 0;
}
li{
  font-size: 3rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0% 97%);
  margin-bottom: 10px;
  border: 3px solid rgb(218, 6, 6, 0.75);
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
*/

/*-----------------------------------------------------------------------------------------------------------*/
/*-------------BODY--------------*/
/*
body{
  background-image: url(assets/mountain.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.clock-container{
  backdrop-filter: blur(1.5px);
  width: 100vw;
  padding: 10px 0;
  
}
.clock{
  color: red;
  font-size: 15rem; 
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsl(0, 0%, 0%, 0.75);
}
*/
/*-----------------------------------------------------------------------*/

.box{
  border: 3px solid;
  padding: 25px;
  font-size: 2rem;
}
































